---
layout: riservato
---

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-auth-compat.js"></script>

<style>
  /* Nascondo tutto finché non si verifica l’utente */
  #private-content {
    display: none;
    padding: 2rem;
  }
</style>


<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCu9YBjutCK0UR3EoliYwiNrrKaY8cyt8U",
    authDomain: "ufficiogabrieljones.firebaseapp.com",
    projectId: "ufficiogabrieljones",
    storageBucket: "ufficiogabrieljones.firebasestorage.app",
    messagingSenderId: "754177287030",
    appId: "1:754177287030:web:e4f70d2d3d9c54c1d91057",
    measurementId: "G-HBSRVKC0JQ"
  };
  firebase.initializeApp(firebaseConfig);

  // Verifica lo stato di autenticazione
  firebase.auth().onAuthStateChanged(user => {
    if (user) {
      // Utente autenticato, mostra contenuto
      document.getElementById('private-content').style.display = 'block';
    } else {
      // Utente non autenticato, reindirizza al login
      window.location.href = '/user.html';  // Cambia con il percorso corretto
    }
  });

  function logout() {
    firebase.auth().signOut().then(() => {
      window.location.href = '/login.html';  // Cambia con il percorso corretto
    });
  }
</script>

<div id="private-content" class="container">

<main>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">

        <div class="cmp-heading pb-3 pb-lg-4">
          <h1 class=""> {{ page.nome }} </h1>
          {% if page.ruolo %}
            <h4 class="text-muted">{{ page.ruolo }}</h4>
          {% endif %}
        </div>

        {% if page.foto %}
        <figure class="figure px-0 img-full mb-4">
          <img src="{{ page.foto }}" alt="Foto di {{ page.nome }}" class="figure-img img-fluid rounded">
        </figure>
        {% endif %}

        {% if page.descrizione %}
        <section class="it-page-section mb-4">
          <h3>Descrizione</h3>
          <div class="richtext-wrapper lora">
            <p>{{ page.descrizione }}</p>
          </div>
        </section>
        {% endif %}

        {% if page.incarico %}
        <section class="it-page-section mb-4">
          <h3>Incarico</h3>
          <div class="richtext-wrapper lora">
            <p>{{ page.incarico }}</p>
          </div>
        </section>
        {% endif %}

        {% if page.data_insediamento %}
        <section class="it-page-section mb-4">
          <h3>Presidenza di insediamento</h3>
          <div class="richtext-wrapper lora">
            <p>Presidenza Jones (2025-2026)</p>
          </div>
        </section>
        {% endif %}

        {% if page.organizzazione %}
        <section class="it-page-section mb-4">
          <h3>Organizzazione</h3>
          <div class="row">
            {% for org in page.organizzazione %}
            <div class="col-sm-6">
              <div class="card card-teaser card-teaser-info rounded p-3 m-1 bx-shadow-sm">
                <div class="card-body">
                  <h5 class="card-title fs-5 fw-semibold">
                    <a class="text-decoration-none" href="{{ org.link }}" target="_blank">
                      {{ org.nome }}
                    </a>
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
        {% endif %}

        {% if page.competenze %}
        <section class="it-page-section mb-4">
          <h3>Competenze</h3>
          <div class="richtext-wrapper lora">
            <p>{{ page.competenze }}</p>
          </div>
        </section>
        {% endif %}

        {% if page.contatti %}
        <section class="it-page-section mb-4">
          <h3>Contatti</h3>
          <div class="row">
            {% for contatto in page.contatti %}
            <div class="col-sm-6">
              <div class="card card-teaser card-teaser-info rounded p-3 m-1 bx-shadow-sm">
                <div class="card-body">
                  <h5 class="card-title fw-semibold">Contatto</h5>
                  <div class="card-text">
                    <a href="mailto:{{ contatto }}" class="text-decoration-none">
                      {{ contatto }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
        {% endif %}

        {% if page.documenti %}
        <section class="it-page-section mb-4">
          <h3>Documenti</h3>
          <div class="it-list-wrapper">
            <ul class="it-list">
              {% for doc in page.documenti %}
              <li class="it-list-item d-flex justify-content-between align-items-center">
                <div>
                  <a href="{{ doc.link }}" target="_blank" rel="noopener">
                    {{ doc.nome_file }}
                  </a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </section>
        {% endif %}

      </div>
    </div>
  </div>
</main>
</div>
